services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.dev
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  back:
    build: ./back
    environment:
      DATABASE_URL: postgres://app:app@db:5432/app
    depends_on:
      - db
    ports:
      - "3000:3000"
    volumes:
      - ./back:/app
      - /app/node_modules
    command: npm run dev

  front:
    build: ./front
    depends_on:
      - back
    ports:
      - "5173:5173"
    volumes:
      - ./front:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0

volumes:
  pgdata:
  pgadmin_data:
